window, GtkWindow {
  background: #282c34;
  background-image: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ededed;
}

entry, GtkEntry {
  background: #1c1f24;
  background-image: none;
  font-size: 16px;
  color: #51afef;
}

combobox {
  background: #1c1f24;
  background-image: none;
  font-size: 16px;
  color: #51afef;
}

button, GtkButton {
  background: #51afef;
  background-image: none;
  color: #1c1f24;
}
