window, GtkWindow {
  background: #282a36;
  background-image: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #f8f8f2;
}

entry, GtkEntry {
  background: #14151b;
  background-image: none;
  color: #8be9fd;
}

button, GtkButton {
  background: #8be9fd;
  background-image: none;
  color: #14151b;
}
