window, GtkWindow {
  background: #282828;
  background-image: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ebdbb2;
}

entry, GtkEntry {
  background: #928374;
  background-image: none;
  color: #458588;
}

button, GtkButton {
  background: #458588;
  background-image: none;
  color: #282828;
}
