window, GtkWindow {
  background: #2e3440;
  background-image: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ededed;
}

entry, GtkEntry {
  background: #1c1f24;
  background-image: none;
  color: #88c0d0;
}

button, GtkButton {
  background: #88c0d0;
  background-image: none;
  color: #1c1f24;
}
