window, GtkWindow {
  background: #002b36;
  background-image: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #eee8d5;
}

entry, GtkEntry {
  background: #839496;
  background-image: none;
  color: #2aa198;
}

button, GtkButton {
  background: #2aa198;
  background-image: none;
  color: #839496;
}
