window {
  background: #1d1f21;
  background-image: none;
  /* font-family: "Roboto", sans-serif; */
  font-size: 15px;
  color: #c5c8c6;
}

entry {
  background: #282a2e;
  background-image: none;
  border: 1px solid #54ced6;
  color: #c5c8c6;
}

button {
  background: #282a2e;
  background-image: none;
  color: #fff;
  border: 1px solid #000;
  font-weight: bold;
}

button:hover {
  background: #54ced6;
  background-image: none;
  color: #1d1f21;
  border: 1px solid #000;
  font-weight: bold;
}

combobox cellview {
  color: red;
  background: none;
  background-image: none;
}

box {
  color: red;
  background-color: blue;
}

grid {
  color: #c5c8c6;
  background-color: #1d1f21;
  background-image: none;
}

notebook * {
  color: #c5c8c6;
  background-color: #1d1f21;
  background-image: none;
}

notebook tab:hover {
  color: #282a2e;
  background-color: #54ced6;
  background-image: none;
}

notebook tab:checked {
  color: #c5c8c6;
  background-color: #1d1f21;
  background-image: none;
  font-weight: bold;
  border-bottom: 4px solid #54ced6;
}

fixed {
  color: #1d1f21;
  background-color: #1209a2;
  background-image: none;
}
